src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config-timezone" doc:name="HTTP Listener config" doc:id="da14f909-02cc-478d-a86d-c162d26e726e" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="765a9843-3abf-4b66-9ea6-dbdea61d090f" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="688674db-5a28-4e55-a7ca-092b0746328e" >
		<http:listener doc:name="Listener" doc:id="261c7fda-a5d3-4853-a1ee-278b72c266a9" config-ref="HTTP_Listener_config-timezone" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="e09a5433-99a8-45f0-9c0d-bf37591dc6c4" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="4982dd86-1b38-40b4-b5e3-d705094112d7" />
	</flow>
</mule>
